    <h1>
            Codeial / <%= title %>
        </h1>
    
        <!-- <html>
            <head>
                <title>
                    <%= title %>
                </title>
        
            </head>
        
            <body>
                <%- include('header'); %>
        
                <h1>Codeial / <%= title %></h1>
        
                <%- include('footer'); %>
            
            </body>
        </html>   -->